*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.product-list{
    display: grid;
    grid-template:auto/ 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
}

.baner{
    width: 100%;
    height: 500px;
    background-image: url(./assets/7493_top_5___thumble.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
